<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		        http://www.springframework.org/schema/beans/spring-beans.xsd
		        http://www.springframework.org/schema/context
		        http://www.springframework.org/schema/context/spring-context.xsd
		        http://www.springframework.org/schema/mvc
		        http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--指定视图的前缀和后缀，Controller返回的String类型与这里的前后缀拼接，构成返回的视图页面地址-->
        <!--<property name="prefix" value="/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    </bean>

    <!--开启注解扫描功能-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 处理请求返回json字符串的中文乱码问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 解决Controller返回json中文乱码问题 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>

           <!-- &lt;!&ndash; fastJson配置 &ndash;&gt;-->
            <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>

        </mvc:message-converters>
    </mvc:annotation-driven>


    <!--定义注解扫描的包-->
    <context:component-scan base-package="com.jie.controller"></context:component-scan>

    <!--处理静态资源-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--将链接中的静态的访问路径映射为URL，常用于加载html、js、css、图片、视频等静态资源-->
    <mvc:resources mapping="/js/**" location="/forward/AmazeUI-2.4.2/"/>
    <mvc:resources mapping="/images/**" location="/forward/basic/"/>
    <mvc:resources mapping="/js/**" location="/forward/js/"/>
    <mvc:resources mapping="/images/**" location="/forward/images/"/>
    <mvc:resources mapping="/js/**" location="/forward/home/**"/>
    <mvc:resources mapping="/images/**" location="/forward/person/"/>
    <mvc:resources mapping="/css/**" location="/forward/css/"/>
    <mvc:resources mapping="/js/**" location="/background/lib/"/>
    <mvc:resources mapping="/images/**" location="/background/static/"/>
    <mvc:resources mapping="/css/**" location="/background/temp/"/>
    <mvc:resources mapping="/myjs/**" location="/background/myjs/**"/>
    <mvc:resources mapping="/myjs/**" location="/forward/myjs/**"/>
    <!--登录拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有URL中包含/user/的请求 -->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/background/lib/**"/>
            <mvc:exclude-mapping path="/background/static/**"/>
            <mvc:exclude-mapping path="/background/temp/**"/>
            <mvc:exclude-mapping path="/background/login.html"/>
            <mvc:exclude-mapping path="/forward/images/**"/>
            <mvc:exclude-mapping path="/forward/AmazeUI-2.4.2/**"/>
            <mvc:exclude-mapping path="/forward/basic/**"/>
            <mvc:exclude-mapping path="/forward/css/**"/>
            <mvc:exclude-mapping path="/forward/js/**"/>
            <mvc:exclude-mapping path="/forward/frame.html"/>
            <mvc:exclude-mapping path="/forward/home/home3.html"/>
            <mvc:exclude-mapping path="/forward/home/introduction.html"/>
            <mvc:exclude-mapping path="/forward/.project"/>
            <mvc:exclude-mapping path="/**/login.html"/>
            <mvc:exclude-mapping path="/**/register.html"/>
            <mvc:exclude-mapping path="/**/toLogin"/>
            <mvc:exclude-mapping path="/user/toRegister"/>
            <mvc:exclude-mapping path="/**/myjs/**"/>
            <mvc:exclude-mapping path="/forward/images/**"/>
            <mvc:exclude-mapping path="/valid/**"/>
            <mvc:exclude-mapping path="/commodity/**"/>
            <mvc:exclude-mapping path="/evaluate/toShow"/>
            <mvc:exclude-mapping path="/round/**"/>
            <mvc:exclude-mapping path="http://sandbox.runjs.cn/uploads/rs/267/g3ugugjp/area.js"/>
            <bean class="com.jie.controller.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--springmvc定义好的，用来处理上传文件的类-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为10MB -->
        <property name="maxUploadSize">
            <value>10485760</value>
        </property>
    </bean>

 </beans>